---
name: CI

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - synchronize
      - reopened
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug:
        description: Debug mode
        type: boolean
        required: false
        default: true

# Allow one concurrent
concurrency:
  group: ${{ format('{0}-{1}-{2}-{3}-{4}', github.workflow, github.event_name, github.ref, github.base_ref, github.head_ref) }}
  cancel-in-progress: true

env:
  DEBUG: ${{ inputs.debug || secrets.ACTIONS_RUNNER_DEBUG || vars.ACTIONS_RUNNER_DEBUG || secrets.ACTIONS_STEP_DEBUG || vars.ACTIONS_STEP_DEBUG || false }}

permissions:
  contents: read

jobs:
  dog-food:
    name: Dog food
    runs-on: ubuntu-latest
    outputs:
      repos: ${{ steps.get-repos.outputs.repos }}
      count: ${{ steps.get-repos.outputs.count }}
      format: ${{ steps.get-repos.outputs.format }}
    steps:
      - name: Debug
        if: ${{ env.DEBUG == 'true' }}
        uses: raven-actions/debug@9dbdeb7eea607a7d73411895c65987e71d59a466 # v1.2.0
        with:
          vars-context: ${{ toJson(vars) }}
          needs-context: ${{ toJson(needs) }}
          inputs-context: ${{ toJson(inputs) }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Get GitHub Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: get-token
        with:
          app-id: ${{ secrets.ORG_BOT_APP_ID }}
          private-key: ${{ secrets.ORG_BOT_PRIVATE_KEY }}

      - name: Get Repositories Action (json)
        id: get-repos
        uses: ./
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          topics: "raven-actions,composite-action"

      - name: Get Repositories Action (flat)
        id: get-repos-flat
        uses: ./
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          topics: "raven-actions,composite-action,debug"
          format: flat

      - name: Test flat output
        run: |
          echo "Total count: ${COUNT}"
          echo "Format: ${FORMAT}"
          echo "Repos:"
          echo -e "${REPOS}"
        env:
          REPOS: ${{ steps.get-repos-flat.outputs.repos }}
          COUNT: ${{ steps.get-repos-flat.outputs.count }}
          FORMAT: ${{ steps.get-repos-flat.outputs.format }}

      - name: Get Repositories Action (flat delimiter)
        id: get-repos-flat-delimiter
        uses: ./
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          topics: "raven-actions,composite-action,debug"
          format: flat
          delimiter: ","

      - name: Test flat delimiter output
        run: |
          echo "Total count: ${COUNT}"
          echo "Format: ${FORMAT}"
          echo "Repos:"
          echo -e "${REPOS}"
        env:
          REPOS: ${{ steps.get-repos-flat-delimiter.outputs.repos }}
          COUNT: ${{ steps.get-repos-flat-delimiter.outputs.count }}
          FORMAT: ${{ steps.get-repos-flat-delimiter.outputs.format }}

  test-matrix:
    name: Test matrix (${{ matrix.repo.name }})
    if: ${{ needs.dog-food.outputs.repos != '[]' }}
    runs-on: ubuntu-latest
    needs:
      - dog-food
    strategy:
      matrix:
        repo: ${{ fromJson(needs.dog-food.outputs.repos) }}
      max-parallel: 2
      fail-fast: false
    steps:
      - name: Test
        run: |
          echo "Total count: ${COUNT}"
          echo "Format: ${FORMAT}"
          echo "Repo: ${REPO}"
        env:
          REPO: ${{ toJson(matrix.repo) }}
          COUNT: ${{ needs.dog-food.outputs.count }}
          FORMAT: ${{ needs.dog-food.outputs.format }}

  dog-food-matrix:
    name: Dog food (${{ matrix.os }})
    needs:
      - test-matrix
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Get GitHub Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: get-token
        with:
          app-id: ${{ secrets.ORG_BOT_APP_ID }}
          private-key: ${{ secrets.ORG_BOT_PRIVATE_KEY }}

      - name: Get Repositories Action
        id: get-repos
        uses: ./
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          topics: "github-actions,actions"
          operator: AND

      - name: Test
        if: ${{ runner.os != 'Windows' }}
        run: |
          echo "Total count: ${COUNT}"
          echo "Format: ${FORMAT}"
          echo "Repos: ${REPOS}"
        shell: bash
        env:
          REPOS: ${{ toJson(steps.get-repos.outputs.repos) }}
          COUNT: ${{ steps.get-repos.outputs.count }}
          FORMAT: ${{ steps.get-repos.outputs.format }}

      - name: Test
        if: ${{ runner.os == 'Windows' }}
        run: |
          Write-Output "Total count: ${env:COUNT}"
          Write-Output "Format: ${env:FORMAT}"
          Write-Output "Repos: ${env:REPOS}"
        shell: pwsh
        env:
          REPOS: ${{ toJson(steps.get-repos.outputs.repos) }}
          COUNT: ${{ steps.get-repos.outputs.count }}
          FORMAT: ${{ steps.get-repos.outputs.format }}
